<div class="auth-container fade-in">
  <div class="auth-card">
    <h2 class="auth-title">Forgot Password 🔑</h2>
    <p class="auth-subtitle">Enter your email to reset your password</p>

    <div *ngIf="successMsg" class="alert alert-success">{{ successMsg }}</div>
    <div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input type="email" placeholder="Your Email" formControlName="email" />
      </div>

      <button type="submit" class="btn" [disabled]="loading || forgotForm.invalid">
        {{ loading ? 'Sending...' : 'Send Reset Link' }}
      </button>
    </form>


  </div>
</div>
