.card {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

img {
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .card {
    padding: 1.5rem !important;
  }
  img {
    width: 100px;
    height: 100px;
  }
}
