<div class="feeds-container" *ngIf="feeds.length > 0; else loadingTpl">
<h2 class="section-title">🌍 Africa News</h2>

  <div class="feed-cards">
    <ng-container *ngFor="let feed of paginatedFeeds">
      <!-- يظهر فقط إذا فيه صورة -->
      <div class="feed-card" *ngIf="feed.ImageUrl" (click)="openNews(feed)">
        <div class="animated-bg"></div>
        <img [src]="feed.ImageUrl" alt="{{ feed.Title }}" class="feed-img" />

        <div class="feed-content">
          <div class="source-info">{{ feed.SourceName }}</div>
          <h3>{{ feed.Title }}</h3>
          <p class="time">🕓 {{ feed.PublishedAt | date:'medium' }}</p>
          <p class="description">{{ feed.Summary }}</p>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Pagination -->
  <div class="pagination">
    <button *ngFor="let page of totalPages" (click)="changePage(page)" [class.active]="page === currentPage">
      {{ page }}
    </button>
  </div>
</div>

<ng-template #loadingTpl>
  <div class="loading">
    <div class="spinner"></div>
    <p>Loading feeds...</p>
  </div>
</ng-template>
